* {
    font-family: 'Tahoma';
}

body {
    background-color: #FB8E02;
}

nav {
    background-color: #232323;
    width: 20%;
    height: 450px;
}

main {
    background-color: #AEC6E6;
    width: 80%;
    height: 450px;
    overflow: scroll;
}

footer {
    padding: 2px;
    text-align: right;
}

img {
    width: 100%;
}

h1 {
    padding: 50px;
    color: Maroon;
}

ul {
    list-style-type: none;
}

ul > li {
    background-color: #FB8E02;
    width: 95%;
    padding: 5px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #232323;
    font-size: 110%;
}

ul > li:hover {
    background-color: #B36501;
}

nav,main {
    float: left;
}

footer {
    clear: both;
}