body {
    background-color: #E0F7FA;
    font-family: Arial;
    text-align: center;
    width: 95%;
    margin: auto;
}
#baner {
    background-color: #00838F;
    height: 200px;
}
#menu {
    background-color: #006064;
    padding: 15px;
}
#menu a{
    color: white;
    size: 150%;
    text-decoration: none;
}
#lewy, #prawy, #srodek {
    height: 350px;
    width: 33%;
}
#stopka {
    background-color: #006064;
    color: white;
    text-align: right;
    padding: 10px;
}
ol li {
    text-align: left;
}