body {
    font-family: Arial;
    background: antiquewhite;
}

header {
    background: #7B5E57;
    color: white;
    text-align: center;
}

main {
    color: #5D4037;
    max-width: 300px;
    text-align: center;
    margin: 70px auto;
    padding-bottom: 60px;
    box-shadow: 0 0 20px gray;
}

#footer1,
#footer3 {
    float: left;
    background: #7B5E57;
    color: white;
    height: 200px;
    width: 33%;
}

#footer2 {
    float: left;
    background: #7B5E57;
    color: white;
    height: 200px;
    width: 34%;
}

main > img {
    width: 100%;
    padding-bottom: 20px;
}

h1 {
    font-weight: 300;
}

input, button {
    background: #7B5E57;
    color: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
}

button:hover {
    background: white;
    color: #7B5E57;
}