body {
    font-family: 'Georgia';
}

header {
    background: dodgerblue;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    background: lightblue;
    padding: 100px;
}

#lewy {
    background: dodgerblue;
    color: white;
    width: 20%;
    height: 220px;
    float: left;
}

#srodkowy,#prawy {
    background: dodgerblue;
    color: white;
    width: 40%;
    height: 220px;
    text-align: center;
    float: left;
}

a {
    border: 1px dashed dimgray;
    background: gold;
    color: darkred;
    padding: 10px;
}