* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  background-color: LightCyan;
  margin: 0;
}

header,
footer {
  background-color: SteelBlue;
  color: white;
  padding: 10px;
}

header h2 {
  margin: 0;
}

section {
  padding: 10px;
}

table {
  margin: 0 auto;
  width: 70%;
  border-collapse: collapse;
  border: 1px solid SteelBlue;
}

table th,
table td {
  padding: 6px 10px;
  border: 1px solid SteelBlue;
}

table tr:hover {
  background-color: SteelBlue;
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

article {
  padding-top: 40px;
  margin: 1%;
  width: 30%;
  background-clip: padding-box;
}

article img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

article p {
  padding: 20px;
}

#niebieski {
  background-color: DodgerBlue;
}

#zielony {
  background-color: LimeGreen;
}

#fioletowy {
  background-color: DarkOrchid;
}


@media (max-width: 799px) {
  article {
    width: 98%;
  }
}