*{
	font-family: Helvetica;
}
header, footer{
	background-color:SaddleBrown;
	color:white;
	text-align:center;
	padding:7px;
	clear:both;
}
#menu{
	background-color:Peru;
	width:80%;
	height:40px;
	padding-top:20px;
	float:left;
}
#glowny{
	width:80%;
	height:700px;
	font-size:120%;
	overflow:auto;
	float:left;
}
#prawy{
	background-color:Peru;
	color:white;
	width:20%;
	height:760px;
	float:right;
}
a{
	color:#DDD;
	padding-left:90px;
	font-size:140%;
	text-decoration:none;
}
a:hover{
	color:white;
}
img{
	float:left;
	margin:30px;
}