* {
    font-family: Garamond, serif;
}

header, footer {
    background-color: Navy;
    color: white;
    text-align: center;
    padding: 5px;
    letter-spacing: 3px;
}

main {
    display: flex;
}

nav, div, aside {
    height: 500px;
}

nav, aside {
    background-color: DodgerBlue;
    width: 35%;
}

div {
    background-color: SkyBlue;
    width: 30%;
    text-align: center;
}

input, button {
    margin: 10px;
}

h3 {
    text-align: center;
}

h3::first-letter {
    font-size: 200%;
}

p {
    font-size: 150%;
}

.wybierz {
    box-shadow: 5px 5px 10px dimgray;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}