body {
    font-family: 'Tahoma';
}

#baner1,#baner2 {
    background: #003d33;
    color: white;
    text-align: center;
    height: 50px;
    float: left;
}

#baner1 {
    width: 70%;
}

#baner2 {
    width: 30%;
}

#lewy {
    clear: both;
    background: #26a69a;
    height: 550px;
    width: 30%;
    float: left;
}

#prawy {
    background: #26a69a;
    height: 550px;
    width: 70%;
    float: left;
}

footer {
    clear: both;
    background: #003d33;
    color: white;
}

.wizytowka {
    width: 400px;
    margin: 30px;
    text-align: center;
    border: 1px solid #003d33;
}

.wizytowka a {
    background: #003d33;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
    display: block;
}

.wizytowka a:hover {
    background: #004c40;
}